@import "vars"

.ImageCarousel
  position: relative
  width: 100%
  height: 100%
  
  > .layout
    position: relative
    width: 100%
    height: 100%
    
    > .sliderControls
      position: absolute
      top: calc(50%)
      transform: translateY(-50%)
      width: 6rem
      height: 6rem
      border-radius: 50%
      background: $white
      display: flex
      align-items: center
      justify-content: center
      transition: .2s
      right: calc(20vw - 3rem)
  
      @include mobile
        top: auto
        bottom: calc(20% - 1.9rem)
        transform: none
        width: 4rem
        height: 4rem
        right: calc(50% - 2rem)

      @include desktop
        &:hover
          box-shadow: 0 0 0 6px rgba($white, .4)
          transition: .2s

        &:active
          box-shadow: 0 0 0 3px rgba($white, .4)
          transition: .1s


    > .line
      width: .3rem
      height: 100%
      position: absolute
      right: calc(20vw - .15rem)
      background: $white
      top: 0
  
      @include mobile
        width: 100%
        height: .15rem
        right: auto
        top: auto
        bottom: 20%

    \:global
      .slickSlider
        padding-left: 0
        padding-right: 0
        height: 100%

        @include mobile-tablet
          padding-left: 0
          padding-right: 0
          
        @include mobile
          .slick-slider, .slick-track, .slick-slider, .slick-list
            height: 100% !important
            
          .slick-current
            h3
              opacity: 1
              transition: .2s

        .slick-slide
          transition: transform .2s
          border: none
  
          @include mobile
            height: 80% !important

        div
          height: 100%

    .item
      position: relative
      height: 100%
      background: black
      width: 80vw !important

      @include mobile
        width: 100vw !important
        height: 80%

      > .image
        width: 100%
        height: 100%


      > h3
        position: absolute
        right: 4.5rem
        top: 50%
        transform: translateY(-50%)
  
        @include mobile
          top: auto
          bottom: -20%
          right: auto
          width: 100%
          z-index: 2
          opacity: 0
          text-align: center
          transition: .2s
        

