@import "vars"

.People
  position: relative
  width: 100%
  height: 100%
  
  > .layout
    position: relative
    width: 100%
    padding: 3rem 3rem 4rem
    box-sizing: border-box
    
    @include mobile
      padding: 2rem 1rem 4rem
      
    > h2
      margin-left: 4rem
      
      @include mobile
        margin-left: 0
    
    
    > .list
      position: relative
      display: grid
      align-items: center
      grid-template-columns: 1fr 1fr 1fr 1fr
      
      @include mobile
        grid-template-columns: 1fr
      
  
