@import "vars"

$menuTransitionSpeed: .2s

.Header
  position: relative
  display: flex
  width: 100vw
  height: $headerHeight

  @include tablet
    height: $headerHeightTablet

  @include mobile
    height: $headerHeightMobile

  > .layer
    position: absolute
    z-index: 0
    width: 100%
    height: 100%
    background: $cyan-3
    transition: .2s

    @include mobile-tablet
      background: $cyan-3

  > .layout
    position: relative
    display: flex
    align-items: center
    width: 100%
    padding: 2rem $contentHorizontalPadding 2rem 4.5rem
    box-sizing: border-box

    @include desktopSmall
      padding: 2rem $contentHorizontalPaddingSmall 2rem $contentHorizontalPaddingSmall

    @include tablet
      padding: 1rem $contentHorizontalPaddingTablet 1rem $contentHorizontalPaddingTablet

    @include mobile
      padding: 1.5rem 2rem .5rem 1rem

    > .left, & > .center, & > .right
      position: relative
      display: flex

    > .left
      width: 17%

      @include mobile-tablet
        width: 50%

    > .center
      width: 62%
      box-sizing: border-box

    > .right
      width: 21%
      align-items: center
      justify-content: flex-end

      @include mobile-tablet
        width: 50%

      > .search
        width: 15rem

      > .menuButton
  
        @include tablet
          margin-left: 8rem
        
        > .icon
          width: 1.75rem
          height: 1.75rem
          
          &.crossIcon
            width: 1.4rem
            height: 1.4rem

  &.withBackground
    > .layer
      opacity: 1
      transition: .2s

  > .sideMenu
    position: absolute
    right: 0
    top: $headerHeightTablet
    width: 40%
    height: auto
    min-height: 20vh
    transform: translate3d(33%, 0, 0)
    opacity: 0
    background: $white
    transition: $menuTransitionSpeed

    @include tablet
      max-height: calc(100vh - #{ $headerHeightTablet })

    @include mobile
      top: $headerHeightMobile
      width: calc(100% - 6rem)
      height: calc(100vh - #{ $headerHeightMobile })

    &.opened
      transform: translate3d(0, 0, 0)
      opacity: 1
      transition: $menuTransitionSpeed

    > .layout
      position: relative
      width: 100%
      height: auto
      padding: 2rem 2rem 2rem 3rem
