@import "vars"

.Information
  position: relative
  width: 100%
  height: 100%
  
  > .layout
    position: relative
    width: 100%
    
    > .section1
      width: 100%
      display: flex
      justify-content: space-between
      margin-bottom: 3rem
      
      @include mobile
        flex-direction: column
      
      > .item
        width: 30%
        
        @include mobile
          width: 100%
          margin-bottom: 2rem
  
          h2
            margin-bottom: 1.5rem
            letter-spacing: .1rem
        
        > h3
          height: 5.5rem
          letter-spacing: .1rem
          
        > .line
          width: 3.3rem
          height: .4rem
          background: $cyan-4
          margin-bottom: 1rem
  
          @include mobile
            width: 5rem
            margin-bottom: 1.5rem
          
    > .section2
      width: 100%
      position: relative
      padding-right: 6rem
      box-sizing: border-box
      margin-bottom: 5rem
      
      @include mobile
        padding: 0
      
      > h3
        margin-bottom: 2rem
        
        
      > p
        &:nth-child(3)
          margin-bottom: 1.5rem
          
          
        @include mobile
          &:nth-child(5)
            margin-bottom: 1.5rem
            
            
      > .list
        position: relative
        margin-left: 4rem
        
        @include mobile
          margin-left: 2.2rem
        
        > p
          position: relative
        
          &:after
            content: ""
            position: absolute
            left: -1.4rem
            top: .35rem
            width: 6px
            height: 6px
            background-color: $cyan-4
            
            @include mobile
              width: 6.5px
              height: 6.5px
              left: -2.2rem
          
        
          
          
          
    > .footer
      display: flex
      margin-left: 10rem
      
      @include mobile
        margin: 0 auto
        width: 65%
        height: 4.8rem
        
        div
          width: 100%
      


