@import "vars"

.RelatedProperties
  position: relative
  width: 100%
  height: auto
  margin-bottom: 5rem

  > .layout
    position: relative
    width: 100%
  
    > .heading
      position: relative
      box-sizing: border-box
      display: flex
      
      @include mobile
        margin-left: 1rem
  
      > h3
        box-sizing: border-box
        padding-bottom: .4rem
        border-bottom: .25rem solid $cyan-4


      @include mobile
        padding: 0

    > .carousel
      position: relative
      width: 100%
