@import "vars"

.FeaturedOfferingsCarousel
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: 100%
    
    .item
      @include mobile
        width: 72vw !important
        padding: 0 0 0 1rem
    
    > .sliderControls
      position: absolute
      top: calc(50% - 3rem)
      
      @include mobile-tablet
        top: calc(50% - 4rem)
      
      &.left, &.right
        width: 3.5rem
        height: 3.5rem
        border-radius: 50%
        background: $red
        display: flex
        align-items: center
        justify-content: center
        transition: .2s
        
        @include tablet
          width: 4.5rem
          height: 4.5rem
        
        @include mobile
          width: 4rem
          height: 4rem
        
        @include desktop
          &:hover
            box-shadow: 0 0 0 6px rgba($white, .4)
            transition: .2s
          
          &:active
            box-shadow: 0 0 0 3px rgba($white, .4)
            transition: .1s
      
      &.left
        left: calc(32% - 1.75rem)
        
        @include tablet
          left: 8.25rem
        
        @include mobile
          left: 1.75rem
      
      &.right
        right: calc(32% - 1.75rem)
        
        @include tablet
          right: 8.25rem
        
        @include mobile
          right: 1.75rem
    
    \:global
      .slickSlider
        @include mobile-tablet
          padding-left: 0
          padding-right: 0
        
        .slick-slide
          transition: transform .2s
