@import "vars"

.Radio
  position: relative
  width: 100%
  
  > .wrapper, & > .item
    display: flex
    align-items: center
    
    > .checkbox
      position: relative
      width: 18px
      height: 18px
      border: 1px solid $black
      margin-right: .7rem
      
      &.white
        border-color: $white
      
      &.active:after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        transform: translate3d(-50%, -50%, 0)
        width: 14px
        height: 14px
        background: $cyan-4
      
      &.small
        width: 16px
        height: 16px
        
        &.active:after
          width: 13px
          height: 13px
    
    > h3
      max-width: 80%
    
    > .textAfter
      position: absolute
      right: 0
  
  &.secondary
    .checkbox
      border-color: $grey !important
      background-color: $grey
      
      &.active:after
        background: $black
