@import "vars"

.OurServices
  position: relative
  width: 100%
  height: auto
  
  > .heading
    position: relative
    display: flex
    
    > h2
      padding-bottom: .3rem
      box-sizing: border-box
      border-bottom: .2rem solid $cyan-4
      
      @include mobile
        margin-bottom: 1rem
      
  > .layout
    display: flex
    flex-direction: column
    
    > .top
      display: flex
      
      > .item
        width: calc(100% / 6)
        height: 15rem
        text-align: center
        padding-top: 4rem
        border-radius: $elementsRadius * 10 $elementsRadius * 10 0 0
        transition: .2s
  
        &:hover
          transform: scale(1.05)
          transition: .2s
        
        &:active
          transform: scale(1)
          transition: .2s
        
        &.active
          background: rgba($cyan-4, .15)
          transition: .1s
          z-index: -1
        
        > .icon
          margin: 0 auto
          width: 5.2rem
          height: 5.2rem
          
        > h3
          margin-top: 1.5rem
          
          
    > .topTabs, & > .bottomTabs
      display: flex
      
      > .item
        width: calc(100% / 3)
        height: 12rem
        text-align: center
        padding-top: 4rem
        border-radius: $elementsRadius * 10 $elementsRadius * 10 0 0
    
        &.active
          background: rgba($cyan-4, .15)
          transition: .1s
    
        > .icon
          margin: 0 auto
          width: 4.5rem
          height: 4.5rem
    
        > p
          margin-top: 1.5rem
      
          
    > .bottom
      display: flex
      align-items: center
      position: relative
      padding: 3.5rem 0
      box-sizing: border-box
  
      @include mobile
        flex-direction: column
        padding: 3rem 2rem
        transition: .1s
      
      > .layer
        position: absolute
        width: 100vw
        height: 100%
        top: 0
        left: -$contentHorizontalPadding
        background: linear-gradient(45deg, rgba($cyan, .04) 10%, rgba($cyan-3, .15) 20%)

        @include mobile
          left: -1rem
      
      > .left
        width: 68%
        height: 100%
        position: relative
        padding-left: 4.5rem
        box-sizing: border-box
  
        @include mobile
          padding: 0
          width: 100%
    
        > .line
          position: absolute
          width: .25rem
          height: calc(100% - .6rem)
          top: .4rem
          background: $cyan-4
          left: 2.4rem
  
          @include mobile
            display: none
            
        > h2
          margin-bottom: .5rem
          
      > .right
        display: flex
        justify-content: center
        width: 32%
  
        @include mobile
          justify-content: flex-start
          width: 100%
          margin-top: 2rem
