@import "vars"

.PropertyCardSlider
  height: 100%

  > .slickSlider
    height: 100%

    :global(.slick-list), & :global(.slick-track), & :global(.slick-slide) > div
      height: 100%

    :global(.slick-dots)
      bottom: 1rem
      z-index: 3
      position: absolute

      > li
        width: .6rem
        height: .6rem
        margin: 0 .25rem
        background: rgba($cyan-4, .7)
  
        &:hover
          opacity: .7
          transition: .2s
  
        &:active
          opacity: .5
          transition: .1s

        > div
          width: .6rem
          height: .6rem
          

      :global(.slick-active)
        position: relative
        
        div
          position: absolute
          top: 50%
          left: 50%
          transform: translate3d(-50%, -50%, 0)
          width: 70%
          height: 70%
          background: $white

      //:global(:not(.slick-active))
      //  button::before
      //    opacity: 0.25

  > .sliderControls
    position: absolute
    bottom: .85rem
    z-index: 3

    &.left, &.right
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      transition: .2s

      @include desktop
        &:hover
          opacity: .8
          transition: .2s

        &:active
          opacity: .7
          transform: scale(.9)
          transition: .1s

    &.left
      left: 1rem

    &.right
      right: 1rem

  .item
    height: 100%
    position: relative

    > .imageWrapper
      position: relative
      width: 100%
      height: 100%
  
      > .imageLabel
        position: absolute
        z-index: 2
        width: 100%
        bottom: 0
        background: linear-gradient(to top, rgba($cyan-4, 40%), rgba($cyan-4, 0%))
