@import "vars"

.Button
  position: relative
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box
  padding: 1.15rem 3.8rem
  border: none
  outline: none
  background-color: $cyan-4
  font-family: $fontMain
  color: $white
  cursor: pointer
  font-weight: 300
  font-size: 1.3rem
  letter-spacing: .1rem
  transition: .2s
  
  @include mobile
    padding: 1rem 1.8rem
  
  &:hover
    background-color: $cyan-2
    transition: .2s
  
  &:active
    opacity: .9
    transform: translateY(1px)
    transition: .2s
    
  &.black
    background-color: $black
    
  &.boldFont
    font-weight: bold
  
  &.rounded
    border-radius: $elementsRadius
    
  &.disabled
    pointer-events: none
    
    &:not(.grey)
      opacity: .6
  
  &.full
    width: 100%
    
  &.transparent
    background-color: transparent !important
    border-color: transparent !important
    padding: 0
    
  &.secondaryHover
    &:hover
      opacity: .7
      transition: .2s
  
    &:active
      opacity: .6
      transform: translateY(1px)
      
  > .icon
    position: relative
    display: flex
    align-items: center
    justify-content: center
    
    &.iconRight
      position: absolute
      right: 1rem
      top: 50%
      transform: translateY(-40%)
      
      
  &.largeFont
    font-size: 2rem
    font-weight: 500
