@import "vars"

.RelatedPropertiesCarousel
  position: relative
  width: 100%
  height: auto
  
  .item
    @include mobile
      width: 72vw !important
      padding: 0 0 0 1rem

  > .layout
    position: relative
    width: 100%

    > .list
      position: relative
      display: flex

      > .item
        width: calc(100% / 3)

    \:global
      .slickSlider
        @include mobile
          padding-left: 0
          padding-right: 0

    .item
      position: relative
      height: auto
  
      @include mobile
        width: 72vw !important
        padding: 0 0 0 1rem

    > .sliderControls
      position: absolute
      top: calc(27.5%)


      &.left, &.right
        display: flex
        align-items: center
        justify-content: center
        transition: .2s

        @include desktop
          &:hover
            box-shadow: 0 0 0 6px rgba($white, .4)
            transition: .2s

          &:active
            box-shadow: 0 0 0 3px rgba($white, .4)
            transition: .1s

      &.left
        left: -1.5rem

      &.right
        right: -1.5rem

