@import "vars"

.Footer
  position: relative
  width: 100%
  height: auto
  
  > .top
    position: relative
    width: 100%
    height: 100%
    margin-bottom: -2.96rem
    z-index: 2
    height: 21rem
  
    @include mobile
      margin-bottom: -1.25rem
      height: 12rem
      
    > .info
      position: absolute
      top: 4.4rem
      left: 0
      padding: 0 $contentHorizontalPadding
  
      @include mobile
        padding: 0
        top: 50%
        transform: translateY(-50%)
        left: 2.4rem
      
      > p
        width: 44rem
        margin-top: 1.5rem
    
    > .image
      width: 100%
      height: 100%
      
  > .bottom
    position: relative
    width: 100%
    height: 100%
    background: $cyan-4
    
    > .line
      position: absolute
      top: 0
      right: 0
      width: 29.4%
      z-index: 3
      height: .3rem
      background: $cyan-4
  
      @include mobile
        width: 27%
        height: .2rem
  
    > .layer
      position: absolute
      width: 100%
      height: 100%
      background: radial-gradient(circle, #6EA4B2, $cyan-4)
      transition: .2s
  
    > .layout
      position: relative
      width: 100%
      height: auto
      box-sizing: border-box
      display: flex
      padding-top: 2.5rem
      padding-bottom: 2.5rem
    
      @include mobile
        display: block
      
  
      & > .left, & > .center, & > .right
        position: relative
        display: flex
  
      > .left
        width: 27%
        justify-content: flex-start
        margin-bottom: .65rem
        
        > .icon
          width: 14rem
          height: 14rem
  
        @include mobile
          width: 100%
          padding-left: 0
  
        > .socials
          position: absolute
          width: 100%
          align-self: flex-end
          bottom: 0
  
      > .center
        display: flex
        flex-direction: column
        justify-content: center
        width: 55%
        box-sizing: border-box
        
        @include mobile
          padding-left: 1.4rem
          box-sizing: border-box
        
        > .wrapper
          display: flex
          
          @include mobile
            flex-direction: column
            
            > .left
              margin-bottom: 2rem
          
          > .left
            margin-right: 3.5rem
          
          > .right
            > h4:first-of-type
              margin-bottom: .7rem
              
            > h3:first-of-type
              margin-bottom: .7rem
  
        @include mobile
          width: 100%
          margin-bottom: 2rem
  
      > .right
        width: 18%
        align-items: center
        justify-content: flex-end
        margin-top: 1rem
  
        @include mobile
          width: 100%
          justify-content: center
          padding: 0 0 2rem 0
