@import "vars"

.Input, .Textarea
  position: relative
  width: 100%
  
  > .label
    position: relative
    display: flex
    align-items: center
    margin-bottom: .5rem !important
    
    @include mobile-tablet
      padding-left: 1.5rem
    
    > p
      margin: 0 .2rem 0 0
  
  > .value, & > textarea
    width: 100%
    display: inline-flex
    align-items: center
    box-sizing: border-box
    border: 1px solid $grey
    background-color: $white
    transition: .2s
    overflow: hidden
    
    > .before
      padding: .8rem 0 .8rem 1.5rem
    
    > .star
      position: absolute
      padding: 0.8rem 1.5rem
      font-size: 1.3rem
      color: transparent
      
      @include mobile
        font-size: 1.3rem
    
    > .icon
      position: relative
      padding: 0 0 0 1.5rem
      
      &.right
        padding: 0 0 0 .4rem
      
      &.withIconHover
        > *
          transition: .2s
        
        > *:first-child
          opacity: 1
          transition: .2s
        
        > *:last-child
          position: absolute
          top: 0
          left: 0
          padding: .8rem 0 .8rem .4rem
          opacity: 0
          transition: .2s
        
        &:hover
          > *:first-child
            opacity: 0
          
          > *:last-child
            opacity: 1
  
  > .value > input, & > textarea
    width: 100%
    border: none
    background-color: $white
    padding: .8rem 1.5rem
    box-sizing: border-box
    outline: none
    transition: .2s
    appearance: none
  
    &.textBefore
      padding-left: .8rem
    
    &.withIcon:not(.textBefore)
      padding-left: .8rem
    
    &.fontS
      padding: .8725rem 1.5rem
      
    &.search
      font-size: 1.3rem
      font-weight: 300
      color: $white
      padding: .35rem
      box-sizing: border-box
      border-bottom: 1px solid transparent
      
      &::-webkit-search-cancel-button
        position: absolute
        right: -2rem
        
    &.secondarySearch
      color: $black
      font-size: 1.35rem
      border: none
      font-weight: 400
  
      &::placeholder
        color: black
        font-weight: 400
      
    &.withBorder
      border-color: rgba(255, 255, 255, .4)
      transition: .2s
      
      
    &.placeholderRight
      &::placeholder
        text-align: right
        color: rgba(255, 255, 255, .4)
        
  & > textarea
    resize: none
  
  > .value.focus, & > textarea:focus
    border-color: $black
    transition: .2s
  
  > .message
    position: absolute
    left: 0
    top: calc(100% + .3rem)
  
  &.secondary
    > .value, & > textarea
      border-color: $grey
      background-color: $white
      border-radius: 0
    
    > .value > input, & > textarea
      background-color: $white
      padding: 1rem 1rem
      font-size: 1.05rem
  
  &.linear
    > .value, & > textarea
      border: none
      border-bottom: solid 1px $black
      box-sizing: border-box
      background-color: transparent
      border-radius: 0
    
    > .value > input, & > textarea
      background-color: transparent
      padding: .8rem 1rem
    
    &.white
      > .value, & > textarea
        border-color: $white
  
  &.transparent
    > .value, & > textarea
      border-color: transparent
      background-color: transparent
    
    > .value > input, & > textarea
      background-color: transparent
  
  &.required
    > .value > input, & > textarea
      background-color: $white
    
    > textarea
      border: 1px solid $grey
      
  &.grayBg
    > .value > input, & > textarea
      background-color: rgba($grey, .3)
      
    > textarea
      border: 1px solid $grey

