@import "vars"

.Property
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    
    > .section1
      padding: 1.5rem $contentHorizontalPadding 5rem
      box-sizing: border-box
      
      @include mobile
        padding: 1.5rem $contentHorizontalPaddingMobile 3rem
        
      > .wrapper
        padding: 0 0 3.5rem 1.5rem
  
        @include mobile
          padding: 0 0 1.5rem 1rem
          
    > .section2
      position: relative
      display: flex
      align-items: flex-end
      box-sizing: border-box
      padding: 0 $contentHorizontalPadding
    
      @include mobile
        display: block
        padding: 0 1.5rem
        box-sizing: border-box
        margin-bottom: 2rem
        
      > .left
        position: relative
        width: 45%
        min-height: 36rem
        padding-right: 1.5rem
        box-sizing: border-box
        
        @include mobile
          min-height: auto
          margin-bottom: 2rem
        
        > .dealType
          margin-bottom: 1.5rem
          
        .description
          position: relative
          height: auto
          margin-bottom: 7rem
      
          > p
            line-height: 1.3rem
        
            @include mobile
              line-height: 1.2rem
      
          > .showMore
            transition: .15s
            display: inline-block
        
            &:hover
              color: $red
              transition: .15s
    
        > .bottom
          position: absolute
          width: 100%
          bottom: 1.5rem
          padding-right: 1.5rem
    
      > .right
        position: relative
        width: 55%
        height: 36rem
        
        > .wrapper
          width: 100%
          height: 100%
          position: relative
    
        @include mobile
          height: auto
          
          > div:first-of-type
            height: 29rem
            padding: 0 1rem
            box-sizing: border-box
  
      > .left, & > .right
        @include mobile
          width: 100%
          
      > .line
        position: absolute
        width: calc(100% - 24rem)
        height: .15rem
        background-color: $cyan-4
        bottom: 0
        
        
    > .section3
      padding: 0 $contentHorizontalPadding
      box-sizing: border-box
  
      @include mobile
        padding: 0 $contentHorizontalPaddingMobile
        
    > .section3, & > .section4, & > .section5, & > .section6
      position: relative
      width: 100%
      height: auto
      
    > .section4
      padding-left: $contentHorizontalPadding
      padding-right: $contentHorizontalPadding
      
      @include mobile
        padding: 2rem $contentHorizontalPaddingMobile 0
        
    > .section5
      padding: 2rem $contentHorizontalPadding 3rem
      box-sizing: border-box
  
      @include mobile
        padding: 3rem $contentHorizontalPaddingMobile
        
    > .section6
      padding: 0 $contentHorizontalPadding - .5rem
      box-sizing: border-box
  
      @include mobile
        padding: 0
      
      
      
      
