@import "vars"

=font-face($family, $pathname, $type, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: local('#{ $family } #{ $type }'), local('#{ $pathname }-#{ $type }'), url('/fonts/#{ $pathname }-#{ $type }.otf') format('opentype'), url('/fonts/#{ $pathname }-#{ $type }.ttf') format('truetype')
    font-weight: $weight
    font-style: $style
    font-display: swap

//+font-face("DIN", 'DIN', 'Ultralight', 100)
//+font-face("DIN", 'DIN', 'Thin', 200)
+font-face("DIN", 'DIN', 'Light', 300)
+font-face("DIN", 'DIN', 'Regular', 400)
+font-face("DIN", 'DIN', 'Medium', 500)
//+font-face("DIN", 'DIN', 'Semibold', 600)
+font-face("DIN", 'DIN', 'Bold', 700)
+font-face("HighVoltageRough", 'HighVoltageRough', 'Bold', 700)
+font-face("OpenSans", 'OpenSans', 'Light', 300)
+font-face("OpenSans", 'OpenSans', 'Bold', 700)
//+font-face("DIN", 'DIN', 'Heavy', 800)
//+font-face("DIN", 'DIN', 'Black', 900)
