@import "vars"
@import "typography"

@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"

html, body
  width: 100vw
  height: 100%
  margin: 0
  background-color: $white

body
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  min-height: -webkit-fill-available

  > #__next
    height: 100%

#Modal
  position: fixed
  z-index: 9
  top: 0
  left: 0
  width: 100%
  height: 0
  
  &.open
    height: 100%



// reusable classes

.display-none
  display: none

.display-inline
  display: inline-block

.overflow-hidden
  overflow: hidden

.box-sizing
  box-sizing: border-box

.cursor-pointer
  user-select: none
  cursor: pointer

.cursor-info
  user-select: none
  cursor: help

.no-pointer-events
  pointer-events: none

.no-select
  user-select: none

.scrollable-x
  overflow-x: auto
  -webkit-overflow-scrolling: touch

.scrollable-y
  overflow-y: auto
  -webkit-overflow-scrolling: touch

.scrollbar-hidden
  -ms-overflow-style: none
  scrollbar-width: none

  &::-webkit-scrollbar
    display: none



// hover/active effects

@include desktop
  .hover-opacity
    transition: opacity .2s
  
    &:hover
      opacity: .8
      transition: opacity .1s
  
    &:active
      opacity: .7
      transition: opacity .1s



// text

.text-left
  text-align: left

.text-center
  text-align: center

.text-right
  text-align: right

.no-wrap
  white-space: no-wrap

.pre-line
  white-space: pre-line

.word-break-word
  word-break: break-word

.limit-string-1
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

@for $i from 2 through 10
  .limit-string-#{ $i }
    width: 100%
    white-space: pre-line
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: $i
    -webkit-box-orient: vertical



// images

img
  &.covered
    width: 100%
    height: 100%
    object-fit: cover

  &.contained
    width: 100%
    height: 100%
    object-fit: contain

  &.filled
    width: 100%
    height: 100%
    object-fit: fill

  &.fullWidth
    width: 100%
    height: auto

  &.fullHeight
    width: auto
    height: 100%



// Margins & Paddings

.mv-05
  margin-top: .5rem
  margin-bottom: .5rem

.mt-05
  margin-top: .5rem

.mb-05
  margin-bottom: .5rem

.mh-05
  margin-left: .5rem
  margin-right: .5rem

.ml-05
  margin-left: .5rem

.mr-05
  margin-right: .5rem

.pv-05
  padding-top: .5rem
  padding-bottom: .5rem

.pt-05
  padding-top: .5rem

.pb-05
  padding-bottom: .5rem

.ph-05
  padding-left: .5rem
  padding-right: .5rem

.pl-05
  padding-left: .5rem

.pr-05
  padding-right: .5rem

.ph
  padding-left: $horizontalPadding
  padding-right: $horizontalPadding

  @include tablet
    padding-left: $horizontalPaddingTablet
    padding-right: $horizontalPaddingTablet

  @include mobile
    padding-left: $horizontalPaddingMobile
    padding-right: $horizontalPaddingMobile

.ph-content
  padding-left: $contentHorizontalPadding
  padding-right: $contentHorizontalPadding

  @include desktopSmall
    padding-left: $contentHorizontalPaddingSmall
    padding-right: $contentHorizontalPaddingSmall

  @include tablet
    padding-left: $contentHorizontalPaddingTablet
    padding-right: $contentHorizontalPaddingTablet

  @include mobile
    padding-left: $contentHorizontalPaddingMobile
    padding-right: $contentHorizontalPaddingMobile

@for $i from 0 through 30
  .m-#{ $i }
    margin: 1rem * $i
  
  .p-#{ $i }
    padding: 1rem * $i
  
  .mv-#{ $i }
    margin-top: 1rem * $i
    margin-bottom: 1rem * $i
  
  .pv-#{ $i }
    padding-top: 1rem * $i
    padding-bottom: 1rem * $i
  
  .mh-#{ $i }
    margin-left: 1rem * $i
    margin-right: 1rem * $i
  
  .ph-#{ $i }
    padding-left: 1rem * $i
    padding-right: 1rem * $i
  
  .mt-#{ $i }
    margin-top: 1rem * $i
  
  .pt-#{ $i }
    padding-top: 1rem * $i
  
  .mb-#{ $i }
    margin-bottom: 1rem * $i
  
  .pb-#{ $i }
    padding-bottom: 1rem * $i
  
  .ml-#{ $i }
    margin-left: 1rem * $i
  
  .pl-#{ $i }
    padding-left: 1rem * $i
  
  .mr-#{ $i }
    margin-right: 1rem * $i
  
  .pr-#{ $i }
    padding-right: 1rem * $i



// Other

.no-desktop
  @include desktop
    display: none !important

.no-tablet
  @include tablet
    display: none !important

.no-mobile
  @include mobile
    display: none !important

@for $i from 0 through 10
  .opacity-#{ $i }
    opacity: 0.1 * $i

.shadow
  box-shadow: 0 .25rem 1.4rem rgba(84, 84, 84, 0.1)
  
a
  color: unset
  text-decoration: unset
  
  &:hover
    color: unset



// Slick Slider additional styles

.slickSlider
  position: relative
  display: block
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-touch-callout: none
  -khtml-user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent
  overflow: hidden
  
  @include mobile-tablet
    padding-left: 0
    padding-right: 0
  
  *
    border: none
    outline: none
    box-shadow: none
