@import "vars"
@import "fonts"

html, body
  font-family: $fontMain
  font-size: .966vw
  
  //@include desktopSmall
  //  font-size 1.1vw

  //@include tablet
  //  font-size 1.7vw

  @include mobile
    font-size: 2.8vw

*
  font-family: $fontMain
  color: $dark

h1 //64
  font-size: 4.5rem
  line-height: 5rem
  
  @include mobile
    font-size: 4rem
    line-height: 4.5rem

h2 //46
  font-size: 2.8rem
  line-height: 3.4rem
  
  &.big
    font-size: 3.6rem
    line-height: 4rem
  
  &.small //38
    font-size: 2.4rem
    line-height: 2.9rem

h3 //24
  font-size: 1.55rem
  line-height: 2rem
  
  &.big //30
    font-size: 2.1rem
    line-height: 2.4rem
    
  &.semiBig
    font-size: 1.85rem
    line-height: 2.2rem
  
  &.small //22
    font-size: 1.35rem
    line-height: 1.8rem
  
  &.smallMobile
    @include mobile
      font-size: 1.15rem
      line-height: 1.65rem

h4 //19
  font-size: 1.25rem
  line-height: 1.6rem

a, p //15
  font-size: 1.05rem
  line-height: 1.3rem
  
  &.big //17
    font-size: 1.2rem
    line-height: 1.5rem
  
  &.small // 12
    font-size: .8rem
    line-height: 1.1rem

h1, h2
  font-weight: 900

h3, h4
  font-weight: 800

h1, h2, h3, h4, p, a, span
  &.fontMain
    font-family: $fontMain
  
  &.fontSecondary
    font-family: $fontSecondary
    
  &.openSans
    font-family: $openSans
  
  &.italic
    font-style: italic
  
  &.thin
    font-weight: 100
  
  &.extraLight
    font-weight: 200
  
  &.light
    font-weight: 300
  
  &.regular
    font-weight: 400
  
  &.medium
    font-weight: 500
  
  &.semiBold
    font-weight: 600
    letter-spacing: .5px
  
  &.bold
    font-weight: 700
    letter-spacing: .5px
  
  &.extraBold
    font-weight: 900
    letter-spacing: .75px
  
  &.uppercase
    text-transform: uppercase
  
  &.underline
    text-decoration: underline
  
  &.dark
    color: $dark
  
  &.dark-2
    color: $dark-2
  
  &.darkBlue
    color: $darkBlue
  
  &.black
    color: $black
  
  &.white
    color: $white
  
  &.grey
    color: $grey
  
  &.grey-2
    color: $grey-2
  
  &.grey-3
    color: $grey-3
    
  &.darkGrey
    color: $darkGrey
  
  &.cyan-2
    color: $cyan-2
    
  &.cyan-3
    color: $cyan-3
    
  &.cyan-4
    color: $cyan-4
    
  &.darkCyan
    color: $cyan
  
  &.red
    color: $red
  
