@import "vars"

.SearchFiltersModal
  position: relative
  width: 100%

  > .layout
    position: relative

    > .wrapper
      width: 100%

      > .buttons
        position: relative
        width: 100%
        display: flex
        justify-content: center
