@import "vars"

.Select
  position: relative
  width: 100%
  
  .label
    margin-bottom: 0
    padding-left: 1.5rem
    
    @include mobile-tablet
      padding-left: 1rem
      padding-bottom: .3rem
  
  .input
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    padding: 1rem 1.5rem
    box-sizing: border-box
    background: $white
    cursor: pointer
    min-height: 3rem
    transition: border-color .2s ease-out
    
    @include mobile
      border: 1px solid $lightBlue
      padding: .9rem 1rem
    
    > p
      max-width: calc(100% - 1rem)
    
    > .indicator
      position: absolute
      right: 3.5rem
      background: $white
  
      @include mobile
        right: 2.5rem
  
  .options
    position: absolute
    z-index: 2
    width: 100%
    max-height: 0
    overflow-y: auto
    top: 100%
    background: $white
    background: transparent
    border: 1px solid transparent
    border-radius: 0 0 $elementsRadius * .5 $elementsRadius * .5
    border-top: none
    box-sizing: border-box
    transition: all .2s ease-in
    pointer-events: none
    
    @include mobile
      border-radius: 0 0 $elementsRadius * 1.4 $elementsRadius * 1.4
    
    .list
      width: 100%
      margin: 0
      opacity: 0
      transform: translate3d(3rem, 0, 0)
      transition: .15s
      
      > .item
        position: relative
        display: flex
        align-items: center
        list-style-type: none
        padding: .9em 1.5rem
        box-sizing: border-box
        transition: .15s
        
        @include mobile
          padding-left: 1rem
          padding-right: 1rem
        
        &:hover
          background: $grey
          transition: .15s
          
          > p
            color: $black
        
        > p
          width: 100%
          margin: 0
          white-space: no-wrap
          overflow: hidden
          text-overflow: ellipsis
        
        &.active
          background: $lightBlue
          
        &.active:before
          content: ""
          position: absolute
          width: 4px
          height: 4px
          border-radius: 50%
          left: calc(.75rem - 2px)
          background: $black
          
          @include mobile
            width: 3px
            height: 3px
            left: calc(.5rem - 1.5px)
  
  .open
    .input, & .options
      border-color: $lightBlue
      transition: border-color .2s ease-out
      
    .input
      border-bottom: transparent
    
    .options
      background: $white
      max-height: 18rem
      transition: all .15s ease-out
      pointer-events: auto
    
      .list
        opacity: 1
        transform: translate3d(0, 0, 0)
        transition: .2s
        
        
  &.secondary
    .input
      padding: 1rem
      
    h3
      font-size: 1.05rem
      font-weight: 400
      
    .options
      border: none
      
      .list
        .item
          padding: 1rem
  
  
          &.active:before
            left: calc(.5rem - 2px)

