@import "vars"

.PropertyCard
  position: relative
  height: auto
  
  @include mobile
    width: 100%
  
  > .layout
    position: relative
    width: 100%
    height: 33rem
    
    > .top
      position: relative
      width: 100%
      height: 55%
      
      &:after
        content: ""
        position: absolute
        bottom: -.15rem
        left: 0
        width: 100%
        height: .15rem
        height: .15rem
        background: $cyan-4
      
      > .special
        position: absolute
        z-index: 3
        top: 20%
        left: -0.6rem
      
      > .image
        position: absolute
        z-index: 1
        width: 100%
        height: 100%
      
        > .imageLabel
          position: absolute
          z-index: 2
          width: 100%
          bottom: 0
          background: linear-gradient(to top, rgba($cyan-4, 40%), rgba($cyan-4, 0%))
    
    > a
      
      > .bottom
        position: relative
        width: 100%
        height: 45%
        padding: 1.7rem 1.5rem 0
        box-sizing: border-box
        
        > .label
          position: absolute
          top: 0
          right: 0
          background: $cyan-4
          display: flex
          align-items: center
          justify-content: center
          height: 2rem
          padding: 0 1.5rem
          box-sizing: border-box
        
        > .dealType
          margin: .2rem 0
        
        > .info
          position: relative
          width: 100%
          display: flex
          flex-direction: column
          
          > .el
            position: relative
            margin-bottom: .4rem
            
            > h4:first-of-type
              width: 8.5rem
              
              @include mobile
                width: 9rem
            
            &, & > *
              display: flex
              align-items: center
