@import "vars"

.Icon
  display: flex
  align-items: center
  justify-content: center
  
  &.xxs
    width: .8rem
    height: .8rem
    
    &.right
      margin-left: .5rem
    
    &.left
      margin-right: .5rem
  
  &.xs
    width: 1rem
    height: 1rem
    
    &.right
      margin-left: .6rem
    
    &.left
      margin-right: .6rem
  
  &.s
    width: 1.25rem
    height: 1.25rem
    
    &.right
      margin-left: .7rem
    
    &.left
      margin-right: .7rem
  
  &.m
    width: 1.4rem
    height: 1.4rem
    
    &.right
      margin-left: .85rem
    
    &.left
      margin-right: .85rem
  
  &.l
    width: 2.2rem
    height: 2.2rem
    
    &.right
      margin-left: 1rem
    
    &.left
      margin-right: 1rem
  
  &.xl
    width: 3rem
    height: 3rem
    
    &.right
      margin-left: 1.1rem
    
    &.left
      margin-right: 1.1rem
  
  &.xxl
    width: 4rem
    height: 4rem
    
    &.right
      margin-left: 1.4rem
    
    &.left
      margin-right: 1.4rem
  
  &.xxxl
    width: 5.5rem
    height: 5.5rem
    
    &.right
      margin-left: 1.75rem
    
    &.left
      margin-right: 1.75rem
