@import "vars"

$transitionSpeed: .4s

.ImageCarousel
  position: relative
  display: flex
  width: 100%
  height: 100%

  > .layout
    position: relative
    display: flex
    width: 100%

    > *
      width: 100%
      height: 100%

      div
        height: 100%

    .item
      position: relative

      > .image
        position: relative
        width: 100%
        height: 100%

        > .gradient
          position: absolute
          width: 100%
          height: 30%
          bottom: 0
          background: linear-gradient(to top, $black, rgba(0, 0, 0, 0))

        > .iframe
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0
          right: 0
          bottom: 0

    @include mobile
      flex-direction: column-reverse
      justify-content: flex-end


    > .sliderControls
      position: absolute
      bottom: -3.5rem
      z-index: 1

      &.left, &.right, &.bottom
        width: 20%
        height: 3.5rem
        background: $cyan-4
        display: flex
        align-items: center
        transition: .2s

        @include desktop
          &:hover
            opacity: .7
            transition: .2s

          &:active
            opacity: .5
            transition: .1s

      &.left
        right: 21%
        justify-content: flex-start
        
        > div
          margin-left: 1rem

      &.right
        right: 0
        justify-content: flex-end
        
        > div
          margin-right: 1rem

      &.bottom
        right: 42%
        width: 3.5rem
        justify-content: center
  

.lightBoxContainer
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100vh

  > div
    background-color: rgba($black, .75) !important
