@import "vars"

.FeaturedOfferings
  position: relative
  width: 100%
  height: auto
  
  > .layout
    position: relative
    width: 100%
    
    > .heading
      position: relative
      display: flex
      align-items: center
      padding: 0 $contentHorizontalPadding
      box-sizing: border-box
      
      @include mobile
        padding: 0 $contentHorizontalPaddingMobile
        margin-bottom: 2.5rem
      
      > h3
        padding-bottom: .3rem
        box-sizing: border-box
        border-bottom: .2rem solid $cyan-4
    
    > .carousel
      position: relative
      width: 100%
      padding: 0 $contentHorizontalPadding - .5rem
      box-sizing: border-box
      
      @include mobile
        padding: 0
