@import "vars"

$transitionSpeed: .6s

.Card
  position: relative
  width: 100%
  height: 40rem
  perspective: 130rem
  
  @include mobile
    height: 47rem
  
  &.active
    .layout
      transform: rotateY(180deg)
      transition: $transitionSpeed
    
  > .layout
    transition: $transitionSpeed
    transform-style: preserve-3d
    position: relative
    height: 100%
    
    > .front, & > .back
      width: 100%
      height: 100%
      backface-visibility: hidden
      
    > .front
      background: $cyan-5
      position: relative
      padding: 6rem 0 2rem
      box-sizing: border-box
      
      &.even
        background: $cyan-6
        
      > .image
        width: 100%
        height: 22rem
        margin-bottom: 1.5rem
        padding: 0 4rem
        box-sizing: border-box
        
        @include mobile
          height: 28rem
        
      > .info
        text-align: center
        
      > .footer
        width: 100%
        position: absolute
        bottom: .6rem
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 1rem
        box-sizing: border-box
        z-index: 0
      
    > .back
      position: absolute
      background: $white
      transform: translate3d(0, 0, -1px) rotateY(180deg)
      top: 0
      left: 0
      
      > .section1
        width: 100%
        padding: 3rem 2.5rem 2rem
        box-sizing: border-box
        text-align: center
        
      > .section2
        position: relative
        display: flex
        justify-content: center
        z-index: 3
        
      > .section3
        text-align: center
        margin-top: 3rem
        
        > p:first-of-type
          margin-bottom: .2rem
          
      > .footer
        width: 100%
        position: absolute
        bottom: .6rem
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 1rem
        z-index: 1
        box-sizing: border-box
        
        
      > .layer
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 1
        position: absolute
        

