@import "vars"

.Home
  position: relative
  width: 100%
  height: auto
  
  > .section1
    position: relative
    width: 100%
    height: 65vh
    min-height: 35rem
  
    @include tablet
      padding-top: $headerHeightTablet
      
    @include mobile
      padding-top: $headerHeightMobile
      height: 70vh
      min-height: 44rem
      
  > .section2
    padding: 5rem $contentHorizontalPadding 3rem
    box-sizing: border-box
  
    @include mobile
      padding: 3rem $contentHorizontalPaddingMobile 2.5rem
      
  > .section3
    position: relative
    
  > .section4
    position: relative
    padding: 5rem $contentHorizontalPadding
  
    @include mobile
      padding: 3rem $contentHorizontalPaddingMobile
  
  
