@import "vars"

.DealTypeFilter
  position: relative
  width: 100%
  height: auto
  
  > .layout
    display: flex
    align-items: center
    
    > .left
      margin-right: 1.5rem
    
    > .left, & > .right
      width: calc(50% - .5rem)
      display: flex
      align-items: center
      justify-content: space-between
      
      > div
        margin-bottom: .3rem

      > h3
        width: 82%
        border-bottom: .2rem solid transparent
        padding-bottom: .3rem
        
        &:hover
          opacity: .7
          transition: .1s
          
      > div
        &:hover
          opacity: .7
          transition: .1s
          
        &:active
          opacity: .6
          transform: scale(.9)
          transition: .1s
        

  
      &.active
        > h3
          border-color: $cyan-4
          color: $cyan-4
          font-weight: bold
          opacity: 1
          transition: .1s
          
        > div
          opacity: 1
          transform: scale(1)
        
    
    > .right
      justify-content: space-between
