@import "vars"

.About
  position: relative
  width: 100%
  height: 100%
  
  > .layout
    position: relative
    width: 100%
    height: 100%
    display: flex
    align-items: center
    padding: 4rem $contentHorizontalPadding 4rem 6rem
    box-sizing: border-box
    
    @include mobile
      padding: .5rem 0 2rem
      flex-direction: column
    
    
    > .left
      width: 28%
      position: relative
      
      @include mobile
        width: 100%
      
      > .top
        width: 100%
        height: 100%
        background: $cyan-4
        position: relative
        padding: 5rem 4.5rem 20rem
        box-sizing: border-box
        
        @include mobile
          padding: 5rem 6.6rem 26rem
          
          h1
            margin-bottom: 2.5rem
            letter-spacing: .2rem
        
        > h2
          margin-bottom: 2.5rem
          letter-spacing: .2rem
          
      > .bottom
        position: relative
        width: 100%
        height: 42.5rem
        margin-top: -14.8rem
        
        @include mobile
          margin-top: -21.35rem
        
        > .image
          width: calc(100% + 8rem)
          
          @include mobile
            width: 100%
        
    > .right
      width: 72%
      padding: 0 13rem 0 3.5rem
      box-sizing: border-box
      margin-top: 8rem
      
      @include mobile
        margin: 3rem 0
        width: 100%
        padding: 0 $contentHorizontalPaddingMobile * 2.5
      
