.Loading
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center

  > .spinner
    position: relative
    z-index: 2
    animation-duration: 1.2s
    animation-name: rotate
    animation-iteration-count: infinite
    animation-timing-function: linear

@keyframes rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)
