@import "vars"

.Search
  position: relative
  display: flex
  width: 100%
  height: auto
  box-sizing: border-box

  > .layout
    position: relative
    width: 100%

    > .form
      position: relative
      display: grid
      align-items: center
      grid-template-columns: 16vw 20.5vw 24vw 4.5vw 1fr

      @include mobile
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        
        > div
          width: calc(50% - .5rem)
          
          &:first-of-type
            margin-bottom: 1rem
            
          &:nth-child(2)
            margin-bottom: 1rem

      > .col2
        grid-column: 1/3

      > .submit
        grid-column: 5
        max-height: 100%
        align-self: flex-end
  
        @include mobile
          grid-column: 4


    > .searchButton
      display: flex
      justify-content: center
      margin-top: 1.5rem
      
    > .line
      position: absolute
      bottom: 0
      width: 100%
      height: .15rem
      background: $cyan-4
      z-index: 3
      
