@import "vars"

.Page
  position: relative
  width: 100%
  height: auto

  > .header
    position: fixed
    z-index: 3
    width: 100%
    height: auto
    top: 0

  > .content
    position: relative
    z-index: 2
    width: 100%
    height: auto

  > .footer
    position: relative
    z-index: 1
    width: 100%
    height: auto

  &.withHeaderStatic
    > .content
      margin-top: $headerHeight

      @include tablet
        margin-top: $headerHeightTablet

      @include mobile
        margin-top: $headerHeightMobile
