@import "vars"

.ButtonDownload
  position: relative
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box
  border: none
  outline: none
  font-family: $fontMain
  color: $white
  cursor: pointer
  font-weight: 300
  font-size: 1.3rem
  letter-spacing: .1rem
  transition: .2s
  flex-direction: column
  background-color: $darkBlue
  border-radius: $buttonsRadius
  transition: .2s
  padding: .8rem 0
  width: 16rem
  height: 4rem

  &:hover
    p
      transform: scale(1.05)
      transition: .2s

  &:active
    opacity: 1
    transform: translateY(1px)
  
    p
      transform: scale(1)
      transition: .2s
  
  @include mobile
    padding: 1rem 1.8rem
