@import "vars"

$transitionSpeed: .4s

.ContactForm
  position: relative
  width: 100%
  height: 100%
  
  > h3
    box-sizing: border-box
    width: 9rem
    padding-bottom: .4rem
    border-bottom: .25rem solid $cyan-4
    
    @include mobile
      padding-left: 0

  > .layout
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
    align-items: flex-start

    @include mobile
      flex-direction: column

    > .right
      width: 18.5rem
      
      @include mobile
        width: 100%
        display: flex
        justify-content: flex-start
        margin-top: 2rem

      > .item
        display: flex
        flex-direction: column
        align-items: center
        
        @include mobile
          &:first-of-type
            margin-right: 1rem

        > .avatar
          position: relative
          width: 18.5rem
          height: 10.8rem
          
          @include mobile
            width: 14rem
            height: 8.8rem
            
          
          &:hover
            > .border
              box-shadow: 0 0 0 .5rem rgba($white, .65) inset
              transition: .2s

          > .border
            position: absolute
            top: 0
            width: 100%
            height: 100%
            transition: .2s

        > .info
          position: relative
          
          > h4
            margin: .5rem 0 .1rem

      > .noBrokerContainer
        display: flex
        flex-direction: column
        align-items: center
        text-align: center

        > .logo
          width: 100%
          background: $cyan-4
          padding: 1rem
          box-sizing: border-box
  
  
    > .left
      width: 70%

      @include mobile
        width: 100%

      > .fields
        position: relative

        > div
          margin-bottom: .5rem

      > .footer
        display: flex
        flex-direction: column
        align-items: flex-start

  .social
    display: flex
    justify-content: center
    
  > .footer
    position: relative
    display: flex
    justify-content: flex-end
    
    > div:first-of-type
      width: 18.5rem
      
      @include mobile
        width: 12rem

    > .line
      position: absolute
      width: 100%
      height: .2rem
      background: $cyan-4
      bottom: 0
