@import "vars"

.Navigation
  position: relative
  display: flex
  width: auto
  max-width: 100%
  height: 100%

  @include mobile-tablet
    flex-direction: column
    width: 100%
    height: auto
    max-height: 100%

  .item
    position: relative
    display: flex
    align-items: center
    height: 100%
    
    > p
      letter-spacing: .1rem

    @include mobile-tablet
      flex-direction: column
      justify-content: center
      width: 100%
      height: auto
      padding-top: 1.8em
      padding-bottom: 1.2rem
      border-bottom: 1px solid $cyan-4

      .name
        position: relative
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between

      > .submenu
        position: relative
        width: 100%

    &:not(:last-of-type)
      margin-right: 2rem

      @include mobile-tablet
        margin-right: 0

    > .underscore
      position: absolute
      display: flex
      justify-content: center
      width: 100%
      height: 1px
      bottom: -0.4rem

      &:after
        content: ""
        position: relative
        width: 4px
        height: 4px
        opacity: 0
        border-radius: 50%
        background-color: $white
        transition: .2s

    &:not(.active):hover, &.active
      > .underscore:after
        width: 4px
        height: 4px
        opacity: 1
        border-radius: 50%
        transition: .2s
