@import "vars"

.Results
  position: relative
  display: flex
  justify-content: center

  > .layout
    position: relative
    display: flex
    align-items: center
    
    > .item
      display: flex
      align-items: center
      justify-content: center
      width: 3.5rem
      height: 3.5rem
      background-color: $cyan-4
      cursor: pointer
      
      &:hover
        opacity: .8
        transition: .2s
        
        @include mobile
          opacity: 1
        
      &:active
        transform: scale(.95)
        transition: .2s
