@import "vars"

$transitionSpeed: .4s

.ContactForm
  position: relative
  width: 100%
  height: 100%
  
  > .layout
    position: relative
    width: 100%

    > .wrapper
      position: relative
      width: 100%
      display: flex
      justify-content: space-between
      
      @include mobile
        flex-direction: column-reverse
  
      > .left
        display: flex
        flex-direction: column
        width: 55%
        height: 33rem
  
        @include mobile
          width: 100%
      
        > .fields
          position: relative
          width: 100%
          height: 100%
          display: flex
          justify-content: space-between
          flex-direction: column
          
      > .right
        width: 44%
        height: 29.1rem
  
        @include mobile
          width: 100%
          margin-bottom: 3rem
        
    > .footer
      position: relative
      
      > .send
        display: flex
    

