@import "vars"

$transitionSpeed: .4s

.UnitsList
  position: relative
  width: 100%
  height: 100%

  > .layout
    position: relative
    width: 100%

    > h3
      box-sizing: border-box
      width: 8rem
      padding-bottom: .4rem
      border-bottom: .25rem solid $cyan-4
      margin-bottom: 1rem

      @include mobile
        padding-left: 0

    > .units
      position: relative

      > .unit
        position: relative
        padding-bottom: 1.15rem
        overflow: hidden

        > .wrapper
          display: flex
          box-sizing: border-box
          position: relative


          &:hover
            > .actions
              bottom: -1rem
              transition: .2s
              
            .layer
              box-shadow: 0 0 0 .5rem rgba($white, .65) inset
              transition: .2s

          > .img
            width: 13rem
            height: 10rem
            position: relative
            
            @include mobile
              width: 9rem
              height: 7rem
            
            > .layer
              position: absolute
              width: 100%
              height: 100%
              background: transparent
              top: 0
              left: 0
              transition: .2s

          > .data
            display: flex
            align-items: flex-end
            padding-left: 5rem
            padding-bottom: .8rem
            box-sizing: border-box
            width: calc(100% - 9rem)

            @include mobile
              padding-left: 1rem

            > .col
              width: 30%

              @include mobile
                width: 28%

          > .actions
            position: absolute
            transition: .2s
            bottom: -4.4rem
            width: 11%
            right: 0
            
            @include mobile
              align-items: center
              right: 0
              width: 13%
              bottom: -1rem
              background: $cyan-4
              height: 3rem
              display: flex
              align-items: center
              justify-content: center
              transition: .2s
              
              &:active
                transition: .2s
                background: $cyan-2
                
              
              > .icon
                width: 2.5rem
                height: 2.5rem

            > .view
              display: flex
              align-items: center

              > .icon
                width: 2rem
                height: 2rem
                border-radius: 50%
                background: $cyan-4
                display: flex
                align-items: center
                justify-content: center

                @include mobile
                  > div
                    margin-top: -0.3rem
                    margin-left: 2px
                    
                    
        > .line
          position: absolute
          width: 100%
          height: .15rem
          background-color: $cyan-4
          bottom: 0


    > .loadMore
      border-bottom: 1px solid $cyan-4





