@import "vars"

.GeneralInformation
  position: relative
  width: 100%
  height: auto
  
  > .layer
    position: absolute
    width: calc(100% + 24rem)
    height: 100%
    background: $lightGreen
    top: 0
    left: -$contentHorizontalPadding
    z-index: -1
    
    @include mobile
      width: calc(100% + 2rem)
      left: -$contentHorizontalPaddingMobile
  
  > .layout
    display: flex
    justify-content: center
    padding: 7rem 0 3.5rem
    box-sizing: border-box
    
    &.noPropertyImage
      padding-top: 3.5rem
  
    @include mobile
      padding: 3rem 0 1rem
      flex-wrap: wrap
    
    > .item
      width: 14vw
      background: $white
      margin: 0 .5rem
      border-radius: $elementsRadius * 2.5
      padding: 3.5rem 1.5rem 0
      box-sizing: border-box
      height: 14vw
      transition: .2s
      
      @include mobile
        width: 40vw
        height: 40vw
        padding: 3rem 1.5rem 0
        margin: 0 1rem 2rem
      
      &.blue
        background-color: $cyan-4
      
      &:hover
        box-shadow: 0 0 1rem .5rem rgba($black, .06) !important
        transform: scale(1.05)
        transition: .2s
      
      > .icon
        width: 4.2rem
        height: 4.2rem
        margin-bottom: 1.2rem
  
        @include mobile
          width: 4.5rem
          height: 4.5rem
      
      > .info
        > h4
          margin-bottom: .5rem
        
      
    
  
