@import "vars"

.SearchScene
  position: relative
  width: 100%
  height: auto
  background: $white
  
  > .layout
    position: relative
    padding: 0 $contentHorizontalPadding
    box-sizing: border-box
    
    @include mobile
      padding: 0 $contentHorizontalPaddingMobile
    
    > .header
      padding: 1.5rem 0 3.5rem 1.5rem
      box-sizing: border-box
      
      @include mobile
        padding: 1.5rem 0 1.5rem 1rem
      
    > .searchBar
      position: relative
      width: 100%
      height: auto
      margin-bottom: 1.5rem
      
    > .content
      position: relative
      width: 100%
      display: flex
      align-items: flex-start
      justify-content: space-between
    
      > .sidebar
        position: relative
        width: 29%
        min-height: 90vh
    
      > .results
        position: relative
        width: 68%
        padding: 9.1rem 0 5rem
        box-sizing: border-box
        
      
        @include mobile
          width: 100%
          padding: 0
          
    > .filterButtonContainer
      position: sticky
      z-index: 2
      bottom: 0
      width: 100%
      padding-top: 1.5rem
      padding-bottom: 1.5rem
    
      > .layer
        position: absolute
        z-index: 0
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: linear-gradient(to top, $white, rgba($white, 0))
    
      > .filterButton
        background-color: $cyan-4
        border-color: $cyan-4
        width: 46%
        margin: 0 auto
