@import "vars"

.SuburbFilter
  position: relative
  width: 100%
  height: auto
  
  @include mobile
    position: initial

  .divider
    position: relative
    width: 100%
    height: 2px
    background: $black
