@import "vars"

.SearchFilters
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%
    
    @include mobile
      h3
        font-weight: 400

    > .form
      position: relative
      width: 100%
      margin: 2.5rem 0
      
      @include mobile
        margin-bottom: 1rem

      > .divider
        position: relative
        display: flex
        width: 100%
        height: auto
        justify-content: center
        background: $cyan-4
        margin-bottom: 1.5rem
        
        > h3
          margin: .9rem 0
          
        > div
          position: absolute
          right: 2rem
          top: 50%
          transform: translateY(-50%)
          
      > .line
        position: relative
        width: 100%
        height: 2px
        background: $cyan-4
        
