@import "vars"

.Results
  position: relative
  width: 100%
  height: auto

  > .layout
    position: relative
    width: 100%

    > .list
      position: relative
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 1rem

      @include mobile
        grid-template-columns: 1fr
