@import "vars"

.Contact
  position: relative
  width: 100%
  height: 100%
  
  > .layout
    position: relative
    width: 100%
    
    > .heading
      position: relative
      width: 100%
      padding: 4rem $contentHorizontalPadding 1.5rem
      box-sizing: border-box
      display: flex
      
      @include mobile
        padding: 2.5rem $contentHorizontalPaddingMobile * 1.5 1.5rem
    
      > h3
        box-sizing: border-box
        padding-bottom: .4rem
        border-bottom: .25rem solid $cyan-4
        margin-bottom: 1rem
        
    > .form
      width: 100%
      background: linear-gradient(45deg, rgba($cyan, .04) 10%, rgba($cyan-3, .15) 20%)
      padding: 3rem 0 6rem
      box-sizing: border-box
      
      
      > .section1
        position: relative
        padding: 0 $contentHorizontalPadding
        box-sizing: border-box
        
        @include mobile
          padding: 0 $contentHorizontalPaddingMobile * 1.5
        
        > h3:first-of-type
          margin-bottom: 1.5rem
          
      > .section2
        position: relative
        padding: 0 6rem 0 $contentHorizontalPadding
        box-sizing: border-box
  
        @include mobile
          padding: 0 $contentHorizontalPaddingMobile *1.5
          
          
    > .footer
      width: 100%
      padding: 3rem $contentHorizontalPadding
      box-sizing: border-box
      display: flex
      
      @include mobile
        padding: 2rem $contentHorizontalPaddingMobile * 1.5
        display: block
        
        
      > .left
        margin-right: 8rem
        
        @include mobile
          margin: 0 0 3rem
        
      
      .wrapper
        display: flex
        
        > h3:first-of-type
          width: 2rem
          
      .info
        h3
          margin-bottom: .2rem
      
        
      
